@charset "utf-8";

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body,
.screen,
#modal,
#modal > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen,
#modal > div {
  position: relative;
}

#modal,
#close {
  position: absolute;
}

#modal,
#modal > div {
  width: 100%;
}

.screen {
  background-image: url(./src/imgs/backgrounds/screen.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 920px;
  height: 550px;
}

#modal {
  height: 100%;
  background-color: rgba(39, 38, 38, 0.116);
}

#modal > div {
  background-color: rgb(49, 49, 49);
  max-width: 500px;
  padding: 30px;
  border-radius: 3px;
  gap: 30px;
}

#close {
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: antiquewhite;
}

#close:hover {
  color: green;
  cursor: pointer;
}

h3 {
  font-weight: normal;
}
