@charset "utf-8";

body, html{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body{
  position: relative;
}

body,
.screen,
#modal-hard-skill,
#modal-hard-skill > div,
#modal-projects,
#modal-projects > div,
#modal-courses,
#modal-courses > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen,
#modal-hard-skill > div,
#modal-projects > div,
#modal-courses > div {
  position: relative;
}

#modal-hard-skill,
#close,
#modal-projects,
#modal-courses {
  position: absolute;
}

#modal-hard-skill,
#modal-hard-skill > div,
#modal-projects,
#modal-courses {
  width: 100%;
}

.screen {
  background-image: url(./src/imgs/backgrounds/screen.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 920px;
  height: 550px;
}

#modal-hard-skill,
#modal-projects,
#modal-courses {
  height: 100%;
  background-color: rgba(39, 38, 38, 0.116);
}

#modal-hard-skill > div,
#modal-projects > div,
#modal-courses > div {
  background-color: rgb(49, 49, 49);
  max-width: 600px;
  border-radius: 3px;
  padding: 10px 30px 10px 30px;
}

#modal-projects > div {
  gap: 30px;
  padding: 30px;
}

#close {
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: antiquewhite;
}

#close:hover,
a:hover,
#close-modal-help:hover {
  color: green;
  cursor: pointer;
}

h3 {
  font-weight: normal;
}

#modal-projects > div,
#modal-courses > div,
#modal-hard-skill > div {
  flex-direction: column;
}

a {
  user-select: none;
  color: white;
}

#modal-help {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(39, 38, 38);
}

#close-modal-help {
  position: absolute;
  top: 10px;
  right: 10px;
  user-select: none;
  cursor: pointer;
}

#container-text-modal-help {
  padding: 30px 60px 30px 60px;
  overflow-y: auto;
  max-width: 800px;
  width: 100%;
  height: 400px;
  position: relative;
}

#arrow-right {
  user-select: none;
  width: 120px;
  height: 75px;
  image-rendering: pixelated;
  animation: moveArrow 2s infinite;
}

#container-recruiters {
  gap: 40px;
  display: flex;
  align-items: center;
}

.img-instructions {
  image-rendering: optimizeQuality;
  object-fit: contain;
  border: 6px solid rgba(110, 110, 110, 0.185);
}

#open-modal {
  position: absolute;
  top: 10px;
  left: 30px;
  object-fit: contain;
  width: 50px;
  height: 50px;
  image-rendering: pixelated;
  cursor: pointer;
}

@keyframes moveArrow {
  0% {
    transform: translateX(-2.1rem);
  }
  50% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(-2.1rem);
  }
}
