@charset "utf-8";

body, #screen, .background, .plate, 
.trophy-frame, .certificate-frame, #modal-help,
#container-text-modal-help{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

#screen, .background, .plate, .trophy-frame, .certificate-frame{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body{
    width: 100vw;
    height: 100vh;
}

#help{
    top:20px;
    left: 20px;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#modal-help{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 13, 13, 0.842);
    z-index: 2;
    gap: 20px;
}

#close-modal-help{
    position: absolute;
    top: 100px;
    right: 200px;
    font-size: 20px;
    color: antiquewhite;
}

#close-modal-help:hover{
    cursor: pointer;
    color: green;
}

#container-recruiter{
    width: 200px;
}

#container-text-modal-help{
    width: 600px;
    gap: 20px;
}

#container-text-modal-help > p{
    font-size: 20px;
}

#screen{
    width: 920px;
    height: 550px;
}

.background{
    width: 820px;
    height: 450px;
    animation: down 1s ease-in-out;
}

#character{
    z-index: 1;
    position: absolute;
    bottom: 100px;
    left: 400px;
}

/*Animations*/

.pageTransition{
    animation: opacity 3s ease-in-out;
}

@keyframes opacity {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/*Backgrounds*/

#screen{
    background-image: url("./src/imgs/backgrounds/backgroundScreen.png");
}

#background-house{
    background-image: url("./src/imgs/backgrounds/backgroundHouse.png");
}

#background-start{
    background-image: url("./src/imgs/backgrounds/backgroundOutOfHome.png");
}

.plate{
    background-image: url("./src/imgs/objects/plate.png");
    width: 80px;
    height: 30px;
    color: bisque;
}

.trophy-frame{
    background-image: url("./src/imgs/objects/frame1.png");
}

.certificate-frame{
    background-image: url("./src/imgs/objects/frame2.png");
}

/*Page living-room*/

#window-living-room, #door-start-living-room, 
#door-hall-living-room, #hack-living-room, 
#tv-living-room, #plate-living-room, 
#bookcase-living-room{
    position: absolute;
}

#door-start-living-room{
    left: 50px;
    bottom: 115px;
}

#window-living-room{
    left: 170px;
    bottom: 168px;
}

#door-hall-living-room{
    right: 50px;
    bottom: 115px;
}

#hack-living-room{
    width: 160px;
    bottom: 115px;
    left: 270px;
}

#tv-living-room{
    height: 60px;
    bottom: 155px;
    left: 300px;
}

#plate-living-room{
    right: 55px;
    bottom: 235px;
}

#bookcase-living-room{
    right: 210px;
    bottom: 115px;
}

/*Page Hall*/

#door-living-room-hall, #plate-living-room-hall,
#door-kitchen-hall, #plate-kitchen-hall,
#door-bedroom-hall, #plate-bedroom-hall,
#door-bathroom-hall, #plate-bathroom-hall,
#door-trophy-room-hall, #plate-trophy-room-hall{
    position: absolute;
}

#door-living-room-hall{
    left: 50px;
    bottom: 115px;
}

#plate-living-room-hall{
    left: 55px;
    bottom: 235px;
}

#door-kitchen-hall{
    left: 215px;
    bottom: 115px;
}

#plate-kitchen-hall{
    left: 220px;
    bottom: 235px;
}

#door-bedroom-hall{
    left: 365px;
    bottom: 115px;
}

#plate-bedroom-hall{
    left: 370px;
    bottom: 235px;
}

#door-bathroom-hall{
    left: 515px;
    bottom: 115px;
}

#plate-bathroom-hall{
    left: 520px;
    bottom: 235px;
}

#door-trophy-room-hall{
    left: 665px;
    bottom: 115px;
}

#plate-trophy-room-hall{
    left: 670px;
    bottom: 235px;
}

/*Page Bedroom*/

#door-hall-bedroom, #plate-hall-bedroom,
#desk-bedroom, #computer-bedroom,
#wardrobe-bedroom, #bed-bedroom,
#shelf-bedroom{
    position: absolute;
}

#door-hall-bedroom{
    left: 50px;
    bottom: 115px;
}

#plate-hall-bedroom{
    left: 55px;
    bottom: 235px;
}

#desk-bedroom{
    left: 200px;
    bottom: 115px;
}

#computer-bedroom{
    left: 205px;
    bottom: 165px;
}

#wardrobe-bedroom{
    right: 320px;
    bottom: 115px;
}

#bed-bedroom{
    right: 100px;
    bottom: 115px;
}

#shelf-bedroom{
    right: 115px;
    bottom: 255px;
}

/*Page Trophy Room*/

.trophy-frame{
    width: 65px;
    height: 65px;
}

.certificate-frame{
    width: 90px;
    height: 120px;
}

.technologie-trophy-room{
    width: 40px;
    height: 40px;
}

.certificate-trophy-room{
    width: 60px;
    height: 85px;
}

#door-hall-trophy-room, #plate-hall-trophy-room, 
#frame-html-trophy-room, #frame-css-trophy-room, 
#frame-js-trophy-room, #frame-react-trophy-room,
#frame-typescript-trophy-room, #frame-git-trophy-room,
#frame-certificate-one-trophy-room, #frame-certificate-two-trophy-room,
#money-bag-trophy-room, #gold-trophy-room
{
    position: absolute;
}

#door-hall-trophy-room{
    left: 50px;
    bottom: 115px;
}

#plate-hall-trophy-room{
    left: 55px;
    bottom: 235px;
}

#frame-html-trophy-room{
    left: 70px;
    bottom: 320px;
}

#frame-css-trophy-room{
    left: 200px;
    bottom: 320px;
}

#frame-js-trophy-room{
    left: 330px;
    bottom: 320px;
}

#frame-react-trophy-room{
    left: 470px;
    bottom: 320px;
}

#frame-typescript-trophy-room{
    left: 590px;
    bottom: 320px;
}

#frame-git-trophy-room{
    left: 710px;
    bottom: 320px;
}

#frame-certificate-one-trophy-room{
    left: 560px;
    bottom: 150px;
}

#frame-certificate-two-trophy-room{
    left: 690px;
    bottom: 150px;
}

#money-bag-trophy-room{
    left: 200px;
    bottom: 115px;
}

#gold-trophy-room{
    left: 250px;
    bottom: 115px;
}

#arrow-right{
    width: 100px;
    height: 50px;
    animation: floating 1s ease-in-out infinite
}

#container-recruiters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}

#anchor-recruiters{
    font-size: 15px;
    animation: flashing 0.6s ease-in-out infinite
}

@keyframes flashing {
    0% { color: aliceblue; }
    50%  {color: red; }
    100%   {color: aliceblue; }   
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(15px, 0px); }
    100%   { transform: translate(0px, 0px); }   
}